main, header {
    margin: 0 10px 0 10px;
}



.row {
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer {
    font-size: 14px;
    text-align: center;
}