* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* body rules here */
body {
  font-family: Verdana;
  font-size: 16px;
}

/* header rules here */
header {
  background-color: blue;
  padding: 1rem 2%;
}

header h1, header h2 {
  margin: 0;
}

/* medium screen */
@media only screen and (min-width: 560px) {

} /* end of media query */

/* large screen */
@media only screen and (min-width: 1028px) {

} /* end of media query */
