* {
    padding: 0;
    margin: 0;
}

html,
footer {
    max-width: 768px;
    margin: auto;
}

body {
    padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
input {
    padding: 10px;
}

h1 {
    text-align: center;
}

h2 {
    display: inline-flex;
}

#app {
    color: red;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
}

input {
    font-size: 17px;
    margin-bottom: 5px;
}

button {
    height: 45px;
    width: 100px;
}

main {
    margin: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}